In [1]:
import pandas as pd

# create data

In [2]:
df = pd.DataFrame(
    data={
        'height': [2, 4, 3, 8],
        'width': [2, 2, 5, 8],
        'wight (g)': [20, 105, 75, 200]
    }
)

In [3]:
df

   height  width  wight (g)
0       2      2         20
1       4      2        105
2       3      5         75
3       8      8        200

# Mask vs. query()
Find objects where height is greater tha width

In [4]:
df.height > df.width

0    False
1     True
2    False
3    False
dtype: bool

In [5]:
df[df.height > df.width]

   height  width  wight (g)
1       4      2        105

In [6]:
df.query('height > width')

   height  width  wight (g)
1       4      2        105

## Columns with spaces, '
Find objects that weigh more than 50 grams