# Read CSV normal

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("customers.csv")

In [11]:
df.head()

     ID First Name Last Name         Phone          LTV
0  4576     Sophia    Walker  602-310-9331     $496.87
1  9488     Evelyn    Harris  171-363-6978  $38,424.41
2  7265      Lucas    Foster  139-658-8905  $14,413.64
3  8555     Elijah     Jones  538-241-9868  $13,440.49
4  7023      Mason    Taylor  937-595-5837   $1,777.37

# Read CSV form URL

In [13]:
df_url = pd.read_csv("https://raw.githubusercontent.com/kimfetti/Videos/refs/heads/master/Pandas_Tips/data/customers.csv")

In [14]:
df_url.head()

     ID First Name Last Name         Phone          LTV
0  4576     Sophia    Walker  602-310-9331     $496.87
1  9488     Evelyn    Harris  171-363-6978  $38,424.41
2  7265      Lucas    Foster  139-658-8905  $14,413.64
3  8555     Elijah     Jones  538-241-9868  $13,440.49
4  7023      Mason    Taylor  937-595-5837   $1,777.37

# ID Zeile als erste spalte anstelle von den 0,1,2...

In [31]:
df = pd.read_csv(
    "customers.csv",
    index_col="ID", #index by ID
)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 4576 to 9062
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  1000 non-null   object
 1   Last Name   1000 non-null   object
 2   Phone       968 non-null    object
 3   LTV         986 non-null    object
dtypes: object(4)
memory usage: 39.1+ KB

In [34]:
df.Phone.value_counts()

Phone
?               31
677-742-5739     1
412-368-2550     1
602-310-9331     1
171-363-6978     1
                ..
339-886-2967     1
809-428-6034     1
999-363-7716     1
748-415-4613     1
778-262-5262     1
Name: count, Length: 938, dtype: int64

In [23]:
df.LTV.value_counts()

LTV
$14,686.60     1
$496.87        1
$38,424.41     1
$14,413.64     1
$13,440.49     1
              ..
$2,215.50      1
$1,461.14      1
$47,604.61     1
$14,725.31     1
$1,975.03      1
Name: count, Length: 974, dtype: int64

# Umgehen mit missing values für bessere übersicht

In [32]:
df_1 = pd.read_csv(
    "customers.csv",
    index_col="ID", #index by ID
    na_values= "?", #treat ? characters as missings
)

In [35]:
df_1.Phone.value_counts()

Phone
412-368-2550    1
602-310-9331    1
171-363-6978    1
139-658-8905    1
538-241-9868    1
               ..
452-664-5404    1
676-675-3583    1
785-583-7448    1
677-742-5739    1
870-961-7105    1
Name: count, Length: 937, dtype: int64

In [36]:
df_1.LTV.value_counts()

LTV
$14,686.60     1
$496.87        1
$38,424.41     1
$14,413.64     1
$13,440.49     1
              ..
$2,215.50      1
$1,461.14      1
$47,604.61     1
$14,725.31     1
$1,975.03      1
Name: count, Length: 974, dtype: int64

In [24]:
df.shape

(1000, 4)

# Nicht den ganzen DF einlesen

In [37]:
df_100 = pd.read_csv(
    "customers.csv",
    index_col="ID", #index by ID
    na_values= "?", #treat ? characters as missing
    nrows = 100
)

In [39]:
df_100.shape

(100, 4)