In [35]:
import pandas as pd

# Create Data

In [36]:
data_dict = {
    'cost': [25, 19, 88],
    'sale_price': [20, 19, 59]
}
df = pd.DataFrame(data=data_dict)

In [37]:
df.head()

   cost  sale_price
0    25          20
1    19          19
2    88          59

# Datentypen?

In [38]:
df.dtypes

cost          int64
sale_price    int64
dtype: object

# Datentyp Ã¤ndern

In [39]:
df.astype('float')

   cost  sale_price
0  25.0        20.0
1  19.0        19.0
2  88.0        59.0

In [40]:
df.astype('float').dtypes

cost          float64
sale_price    float64
dtype: object

# Nur eine spalte anpassen

In [41]:
df.sale_price.dtypes

dtype('int64')

In [42]:
df.sale_price.astype(float)

0    20.0
1    19.0
2    59.0
Name: sale_price, dtype: float64

# Mit mapper

In [43]:
df.astype({
    'sale_price': float,
})

   cost  sale_price
0    25        20.0
1    19        19.0
2    88        59.0

In [44]:
df['discount'] = ['True', 'False', 'True']
df['in_stock'] = [0,1,1]

In [45]:
df.dtypes

cost           int64
sale_price     int64
discount      object
in_stock       int64
dtype: object

In [46]:
df.astype({
    'sale_price': float,
    'discount': bool,
    'in_stock': bool,
})

   cost  sale_price  discount  in_stock
0    25        20.0      True     False
1    19        19.0      True      True
2    88        59.0      True      True

In [47]:
df

   cost  sale_price discount  in_stock
0    25          20     True         0
1    19          19    False         1
2    88          59     True         1

# Permanente changes

In [48]:
df = df.astype({
    'sale_price': float,
    'discount': bool,
    'in_stock': bool,
})
df.dtypes

cost            int64
sale_price    float64
discount         bool
in_stock         bool
dtype: object